
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/UIS_Elasto/v15/.suo
.vs/UIS_Elasto/v15/Browse.VC.db
.vs/VSWorkspaceState.json
Host/ElastoEstimate/.vs/ElastoEstimate/v15/Browse.VC.db
Host/ElastoEstimate/.vs/ElastoEstimate/v15/.suo
Host/ElastoEstimate/.vs/ElastoEstimate/v15/Browse.VC.opendb
Host/ElastoEstimate/.vs/ElastoEstimate/v15/ipch/ELASTOESTIMATE-7e0a7624/ELASTOESTIMATE-1c13654e.ipch
