
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/UIS_Elasto/v15/.suo
.vs/UIS_Elasto/v15/Browse.VC.db
.vs/VSWorkspaceState.json
Host/ElastoEstimate/.vs/ElastoEstimate/v15/Browse.VC.db
Host/ElastoEstimate/.vs/ElastoEstimate/v15/.suo
Host/ElastoEstimate/.vs/ElastoEstimate/v15/Browse.VC.opendb
Host/ElastoEstimate/.vs/ElastoEstimate/v15/ipch/ELASTOESTIMATE-7e0a7624/ELASTOESTIMATE-1c13654e.ipch
Host/ElastoEstimate/.vs/ElastoEstimate/v15/ipch/AutoPCH/_SFI_85F9DD92-8D40-4485-AA0A-8831A8996D24_-77acc3b2/ELASTOESTIMATE-47035bcc/ELASTOESTIMATE.ipch
Host/ElastoEstimate/.vs/ElastoEstimate/v15/ipch/AutoPCH/ELASTOESTIMATE-ecbe6cb5/DLLMAIN-9f8671e9/DLLMAIN.ipch
Host/ElastoEstimate/.vs/ElastoEstimate/v15/ipch/ELASTOESTIMATE-ecbe6cb5/ELASTOESTIMATE-af1e7d30.ipch
Host/ElastoEstimate/.vs/ElastoEstimate/v15/Solution.VC.db
Host/ElastoEstimate/.vs/ElastoEstimate/v15/Solution.VC.db-shm
Host/ElastoEstimate/.vs/ElastoEstimate/v15/Solution.VC.db-wal
bin/lnk{1D7E7E08-CFD5-472A-98EC-24CE14F6D4CA}.tmp
bin/lnk{89D4E47E-7009-4BBB-ADE2-327AF5CAFD3B}.tmp
Host/Debug/ElastoEstimate.log
Host/dllTest/.vs/dllTest/v15/.suo
